html, body {
    padding: 0;
    margin: 0;
    height: 100%;
}

body {
    background: rgb(214,214,214);
    background: linear-gradient(0deg, rgba(214,214,214,1) 0%, rgba(255,255,255,1) 57%, rgba(255,255,255,1) 100%);
    display: flex;
}

header {
    background: rgb(38, 38, 38);
    width: 100%;
    margin-left: 10px;
    height: 100px;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
    padding: 0 50px;
    box-sizing: border-box;
    border-bottom: 5px solid rgba(228, 228, 228, 0.532);
    font-size: 40px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.menu-container {
    color: white;
    width: 332%;
    margin-left: 10px;
    position: sticky;
    top: 0;
    background: rgb(38,38,38);
    background: linear-gradient(90deg, rgba(38,38,38,1) 0%, rgba(22,22,22,1) 55%, rgba(0,0,0,1) 100%);
    height: 100vh;
    border-right: 5px solid rgba(186, 183, 183, 0.332);
    box-sizing: border-box;
}

.menu {
    font-size: 30px;
    display: block;
    padding: 20px 0;
    text-indent: 15px;
    text-decoration: none;
    color: white;
    transition: all 0.4s ease;
}

.menu:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

#select{
    background-color: rgba(255, 255, 255, 0.1);
    color: rgb(255, 238, 0);
}

div:not(.menu-container) {
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto;
}

.unidad2{
    background: rgb(216, 143, 34);
    background: linear-gradient(127deg, rgba(216, 143, 34) 0%, rgb(140, 91, 17) 53%, rgb(90, 56, 6) 100%);
    color: white;
    -webkit-text-stroke: 1.15px black;
    font-size: 45px;
    text-align: center;
    border: 2px solid rgb(32, 32, 32);
}

.presentacion {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 0px;
    margin-top: 80px;
}

.headering img{
    background-color: rgba(0, 0, 0, 0.366);
    text-align: center;
    border: 2px dotted black; 
    width: 95%;
    display: block;
    margin: 0 auto;
    transition: all 0.5s ease;
}

.headering:hover img{
    width: 98%;
}

.contenedor-1{
    background: rgba(255, 144, 25, 0.836);
    background: linear-gradient(127deg, rgba(255, 117, 25, 0.836) 0%, rgba(255, 144, 25, 0.836) 53%, rgba(141, 112, 9, 0.836) 100%);
    border: 3px solid rgb(11, 11, 134);
    align-items: center;
    align-self: center;
    text-align: center;
}
.contenedor-2{
    background: rgba(24, 182, 255, 0.836);
    background: linear-gradient(180deg, rgba(24, 255, 224, 0.836) 0%, rgba(24, 182, 255, 0.836) 53%, rgba(5, 39, 125, 0.836) 100%);
    border: 3px solid rgb(11, 11, 134);
    align-items: center;
    align-self: center;
    text-align: center;
}
.contenedor-3{
    background: rgba(255, 24, 243, 0.836);
    background: linear-gradient(130deg, rgba(255, 24, 243, 0.836) 0%, rgba(255, 24, 243, 0.54) 53%, rgba(132, 32, 219, 0.836) 100%);
    border: 3px solid rgb(11, 11, 134);
    align-items: center;
    align-self: center;
    text-align: center;
}